// Colors
$main-orange: #f7b322;
$blue: #156bee;
$bordeaux: #e83539;
$yellow: #faf203;
$black: #343a40;
$gray: #eee;
$dark-gray: #ccc;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 600px;
